<div class="Menu-page">
   <p class="Menulist-Heading">Menus-List</p>
  <ul class="Menus-list">
     <% @menus.each do |menu| %>
    <li class="Menu">
          <div class="MenuItem-delete">
            <%=menu.name%>
           <% if @current_user.is_owner? %>
            <%= link_to menu, method: :delete do %>
              <div class="Menu-trash"><%= image_tag "delete.png"%></div>
            <% end %>
           <%end%>
          </div>
      </li>
    <% end %>
  </ul>
</div>
