<% if @current_user.is_owner? || @current_user.is_clerk? %>
  <div class="WalkIn-costumer">
    <h3>
      You can Order for Walkin costumer
      <%= image_tag "costumer.png" %>
    </h3>
  </div>
<%end%>
<div class="Main-menuitems">
  <%= render partial: "menu_items/menulist" %>
  <div class="Main-content">
   <%if @current_user.is_owner?%>
    <%= render partial: "menu" %>
    <%= render partial: "additem" %>
   <%end%>
  </div>
</div>
