<% if @current_user.is_owner? %>
<div class="WalkIn-costumer">
  <h3>
         You can Order for Walkin costumer
         <%= image_tag "costumer.png" %>
    </h3>
  </div>
  <%end%>
<div class="Main-menuitems">
 <div class="Main-content">
  <%= render partial: "menu" %>
  <%= render partial: "menu_items/menulist" %>
 </div>
  <%= render partial: "search" %>
</div>
