
<%= render partial: "search-addItem" %>
  <div class="walk-in-header">
    <h3>
      Order for walk-in customer
    </h3>
  </div>
<div class="menu-menuItems">
  <%= render partial: "menuList" %>
</div>
