<main class="Users">
  <section>
      <table class="Clerks"><%= render partial: "users", locals: {type: nil, owner: @current_user, title: "Owner"} %></table>
      <table class="Clerks"><%= render partial: "users", locals: {type: @clerks, owner: nil, title: "Clerks"} %></table>
      <table class="Clerks"><%= render partial: "users", locals: {type: @customers, owner: nil, title: "Customers"} %></table>
  </section>
</main>
