
<div class="Orders">
  <h3 class="Order-title">Your Orders</h3>
  <%= render partial:"orders", locals: {orders: @current_user.orders.order(id: :desc).not_under_process, mark_as_delivered: false } %>
</div>
