.CartItem {
  display: inline-flex;
  border-top: 1px dotted black;
  padding: 10px;
  margin: 10px;
  color: black;
}
.CartItem-price {

  align-items: center;
}
.CartItem-name {
  font-size: 25px;
}
.Cart-heading {
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.CartItems {
  border-bottom: 1px solid black;
}
.CartItem-quantity {
  font-size: 25px;
  margin-left: 60px;
  display: flex;
}
.CartItem-subtotal {
  font-size: 25px;
  margin-left: 60px;
}
.CartItem-update {
  margin-left: 7px;
  padding: 5px;
  border-radius: 4px;
  background-color: lightgreen;

}
.Cart {
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;

}
.Cart-total {
  font-size: 28px;
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 10px;
  display: inline-flex;
  margin-left: 700px;
  color: brown;
}
.Cart-submit {
  background-color: crimson;
  max-width: 300px;
  color: white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  border-radius: 8px;
  margin-left: 400px;
  font-size: 25px;
  align-items: center;
}
.Cart-empty {
  max-width: 200px;
  margin: 0 auto;
  font-size: 25px;
  color: orangered;
}
.Cart-address {
  border: 2px solid black;
  margin-left: 250px;
  font-size: 25px;
  padding: 15px;
}
.Address-heading {
  margin-top: 100px;
  margin-left: 250px;
}
