// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body{
  font-family: sans-serif;
}

.NavigationBar{
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  height: 390px;
}
.NavigationBar-title{
  margin: 5px;
  padding: 5px;
  color: rgba(34, 33, 33, 0.877);
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  color: red;
}
.NavigationBar-title img{
  padding: 5px;
}
.NavigationBar-buttons{
  align-items: left;
  margin-left:auto ;
  display: none;
}

.Buttons-container {
  align-items: left;
  margin-left:auto ;
  margin-top: 50px;
  margin-bottom: 250px;
}
.NavigationBar-button{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 5px;
  padding: 5px;
}

.NavigationBar-indexbutton {
  align-items: left;
  margin-left: auto;
  margin-right: 40px;
  color: green;
}

.Buttons-container:hover .NavigationBar-buttons {
  display: inline-block
}

.NavigationBar-button > a{
  text-decoration: none;
  color: rgba(24, 23, 23, 0.842);
  font-family: sans-serif;
  margin-right: 5px;
  text-align: center;
  padding: 5px;
}
.NavigationBar-button > a:hover{
  color: crimson;
}

.error_text {
  font-size: 20px;
  color: red;
  text-align: center;
  padding-bottom: 30px;
}
.notice_text {
  font-size: 20px;
  color: green;
  text-align: center;
  padding-bottom: 30px;
}
.Home-page{
  font-family: sans-serif;
  padding: 8px;
  text-align: center;
  color: rgba(255, 68, 0, 0.904);
}

.NavigationBar-logo {
  display: inline-flex;
  align-items: center;
}
.About-text {
  color: rgb(29, 221, 29);
  margin-left: 75px;
  margin-bottom: 50px;
}
