.error-message{
  text-align: left;
}
.home-main-gif{
  width:50%;
  margin: 5px auto;
}
.home-main{
  font-family: sans-serif;
  padding: 8px;
  text-align: center;
  color: rgba(255, 68, 0, 0.904);
}
