.WalkIn-costumer{
  max-width: 100%;
  margin: 5px auto;
  margin-right: 100px;
}
.WalkIn-costumer > h3{
  text-align: center;
  color: rgba(94, 121, 185, 0.91);
}
.Main-menuitems{
  max-width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}
.Menu-trash {
  display: none;
  padding-left: 30px;
}


.Menu-page{
  width: 25%;
  margin: 5px;
  margin-left: 100px;
  margin-top: 50px;
}
.Menu-name{
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.849);
  border-bottom: 1px solid black;
}
h3.Menu-name:target{
  animation: menuHighlight 15s 1;
}
.Menu{
  margin: 5px;
  padding: 5px;
  text-align: right;
  display: flex;
  align-items: center;
}
.Menu > a{
  color: #0509c4;
  margin-left: auto;
  padding: 2px 8px;
}
.MenuItem {
  height: 65px;
  margin: 5px;
  padding: 5px;
  margin-left: 25px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.MenuItem-box{
  width: 100%;
  padding-top: 40px;
  margin-right: 100px;
}
.MenuItem{
  border-bottom: 1px dotted grey;
}
.MenuItem > p{
  padding: 5px;
}
.MenuItem:hover{
  border-radius: 10px;
}

 .Update-item{
   margin-left: auto;
   margin-right: 15px;
  }

  .OrderItem-add{
   color: white;
   background-color: crimson;
   padding: 8px;
   border-radius: 4px;
  }

 .MenuItem-details{
   display: block;
   padding: 2px;
   margin: 5px;
   font-size: 18px;
 }
 .MenuItem-price{
   max-width: 35px;
   color: green;
   font-size: 25px;
   margin-left: 20px;
 }
 .OrderItem-add > a{
  color: white;
  width: 20px;
  padding: 5px;
 }

 .MenuItem-delete{
   margin: 10px;
   display: inline-flex;
   padding: 7px;
   border-radius: 4px;
 }
 .MenuItem-delete:hover {
     background-color: rgb(176, 223, 241);
 }
.MenuItem-delete:hover .Menu-trash {
  display: inline-block;
}
.MenuItem-deleteone{
  display: none;
  margin-left: auto;
}
.MenuItem-deleteone > a img{
  margin-left: auto;
  padding: 8px;
}
.MenuItem:hover > .MenuItem-deleteone{
  display: inline-block;
}
.MenuItem-description{
  font-size: 22px;
  margin-left:25px;
  padding: 5px;
  color: blue;
}
.MenuItem-rating{
  padding: 3px;
  margin-left: 20px;
  font-size: 25px;
  display: inline-flex;
}
.MenuItem-name {
  font-size: 25px;
  color: orangered;
}
.Menulist-Heading {
  font-size: 30px;
  font-weight: 300px;
  color: black;
  margin-bottom: 10px;
}

.Main-content {
  display: flex;
}

@keyframes MenuHighlight{
  0%{background-color: #a13cf9;color: white;}
  99%{background-color: #a13cf9;color: white;}
  100%{background-color: white;color: black;}
}
