
// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.Users{
  max-width: 70%;
  margin: 5px auto;
}
.Clerks {
  margin-top: 60px;
}

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
}

td, th {
  text-align: left;
  padding: 8px;
}
th{
  font-size: 21px;
  font-size: bold;
  border-bottom:2px solid black ;
}
td{
  font-size: 18px;
  border-bottom: 1px dotted grey;
}
.User-list > td{
  padding: 10px;
}
.Header-table{
  text-align: center;
  font-size: 26px;
  background-color: rgb(52, 58, 64);
  color: white;
  font-weight: bold;
}
.User-list >td a{
  color: blue;
}
.User-list >td a:hover{
  color: red;
}
@keyframes User{
  0%{border-top: 2px solid tomato;border-bottom: 2px solid tomato;}
  99%{border-top: 2px solid tomato;border-bottom: 2px solid tomato;}
  100%{border: 1px dotted grey;}
}

.Profile-block {
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
}
.Profile-image {
  text-align: center;
}
.Welcome-msg {
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  color: green;
}
.Details {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}
.Details-block {
  padding: 20px;
  margin-top: 30px;
  border-radius: 6px;
  border: 1px solid black;
  -webkit-box-shadow: -1px 1px 5px 9px grey;
  box-shadow: -1px 1px 5px 9px grey;
}

.Details-edit {
  text-align: center;
  margin-top: 40px;
  font-size: 35px;
}

.Create-clerk {
  max-width: 500px;
  margin: 20px auto;
  border: transparent;
  border-radius: 13px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
